<div class="card">
  <div class="card-body mx-lg-3 my-2">
    <form [formGroup]="form" (submit)="add()">
      <div class="form-row row">
        <div class="form-group col-12">
          <label for="inputName">Name *</label>
          <input type="text" class="form-control" id="inputName" formControlName="first_name" />
        </div>
      </div>
      <div class="form-row row">
        <div class="form-group col-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" id="genderMale" value="male" formControlName="gender" />
            <label class="form-check-label" for="genderMale">Male</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="genderFemale" value="female" formControlName="gender" />
            <label class="form-check-label" for="genderFemale">Female</label>
          </div>
        </div>
      </div>

      <h4 class="font-weight-bold">Contact information</h4>
      <hr />

      <div class="form-row row">
        <div class="form-group col-md-6">
          <label for="inputEmail">Email *</label>
          <input type="email" class="form-control" id="inputEmail" formControlName="email" aria-describedby="emailHelpBlock" />
          <small id="emailHelpBlock" class="form-text text-muted">
            We'll never share your email with anyone else.
          </small>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPhone">Telephone *</label>
          <input type="text" class="form-control" id="inputPhone" formControlName="phone" />
        </div>
      </div>
      <button type="submit" class="btn btn-primary float-right px-4" [disabled]="!form.valid">Save</button>
      <button type="button" class="btn btn-light float-right px-4 mr-2" (click)="clear()">Cancel</button>
    </form>
  </div>
</div>